*{
    /* border: 2px dotted black; */
}

body{
    background: #FCEBFF;
    color: #403D42;
}

header {
    background: #75307F;
    color: #F7EBFF;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 4px;
    margin-bottom: 15px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 24px;
    padding-left: 15px;
}
p {
    padding-top: 4px;
    padding-left: 2px;
    padding-bottom: 2px;
}

ul{
    display: inline-block;
    list-style: disc;
    list-style-position: outside;
    padding: 4px 10px;
    margin: 0px 10px;
}
ul.secondLevelUL{
    padding: 0px 10px;
    margin: 0px 10px;
    list-style: circle;
}

ol{
    display: inline-block;
    /* border: 5px solid red; */
    /* display: inline-block; */
    padding: 5px 20px;
    margin: 0px 10px;
    list-style: decimal;
}

/* ol li{
    display: block;
}

ol:nth-child(2){
    display:inline;
} */

section{
    display: inline-block;
    border: 3px solid;
    border-radius: 15px;
    margin: 20px
}

h4{
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}