header {
    background: #CCD;
    color: #000;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 4px;

}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;

}
p {
    padding-top: 4px;
    padding-left: 2px;
    padding-bottom: 2px;
}