header {
    background: #CCD;
    color: #000;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 4px;
    margin-bottom: 15px;

}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 24px;
    padding-left: 15px;
}
p {
    padding-top: 4px;
    padding-left: 2px;
    padding-bottom: 2px;
}

ul{
    list-style: disc;
    /* list-style-position: outside; */
    padding: 4px 10px;
    margin: 0px 10px;
}
ul.secondLevelUL{
    padding: 0px 10px;
    margin: 0px 10px;
    list-style: circle;
}

ol{
    padding: 0px 10px;
    margin: 0px 10px;
    list-style: decimal;
}

h4{
    font-size: 20px;
    font-weight: bold;
}